<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labs</title>
    <!-- TailwindCss CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <!-- navbar -->
    <nav class="w-full h-20 bg-blue-100 shadow-sm">
        <div class="w-11/12 max-w-[1200px] h-full mx-auto flex items-center justify-between">
            <span class="text-xl font-bold text-blue-900">
                <a href="/">A.AZZAZ</a>
              </span>
            <ul class="flex items-center gap-6">
                <li><a href="/labs" class="text-blue-900 hover:underline">Labs</a></li>
                <li><a href="/nextcloud" class="text-blue-900 hover:underline">NextCloud</a></li>
            </ul>
        </div>
    </nav>

  <!-- Cards grid section -->
  <section class="w-full min-h-screen px-4 py-10">
    <div class="w-full max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 pb-20 pt-10">
      {% for i in range(1, 13) %}
      <div class="bg-white border border-gray-100 rounded-xl shadow-md overflow-hidden">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNd6dBFWzIrki74SPiTinJesgdiX0gJSGmFpOe1XRlEWxgkaOO8zU82sbwjDT0R9hbyIwGTWGeBPWbaPYxCCCZtLnlNk7JMytGsma7pcg" alt="Cloud Image" class="w-full h-48 object-cover">
        <div class="p-4">
          <h2 class="text-lg font-semibold text-gray-800 mb-2">Cloud Lab {{ i }}</h2>
          <p class="text-sm text-gray-600">Explore concepts of cloud infrastructure, deployment, and scalability in Lab {{ i }}.</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</body>
</html>
